body {
  height: 100%;
}
#container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
	text-align: center;
}
#yourside {
  width:40%;
  margin-left:6em;
}
#theirside {
  width:40%;
  margin-right:6em;
}
#middle {
  margin-top:12em;
  margin-left:12em;
  margin-right:12em;
}
