body {
  height: 100%;
}
#container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
	margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#yourside {
  width:40%;
  margin-left:6em;
	text-align: right;
}
#theirside {
  width:40%;
  margin-right:6em;
	text-align: left;
}
#middle {
  margin-top:12em;
  margin-left:12em;
  margin-right:12em;
	text-align: center;
}
